sudo: required

services:
  - docker

script:
  - export TAG=$(if [[ $TRAVIS_PULL_REQUEST == "false" ]] && [[ $TRAVIS_BRANCH == "master" ]]; then echo "latest"; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  - docker build -t jasondewitt/roxet.net:$TAG -f Dockerfile .

after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
  - docker push jasondewitt/roxet.net:$TAG