sudo: required

services:
  - docker

script:
  - export TAG=$(if [[ $TRAVIS_PULL_REQUEST == "false" ]] && [[ $TRAVIS_BRANCH == "master" ]]; then echo "latest"; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  - docker build -t jasondewitt/roxet.net:$TAG -f Dockerfile .

after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - docker push jasondewitt/roxet.net:$TAG
  - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
  - chmod +x ./kubectl
  - sudo mv ./kubectl /usr/local/bin/kubectl
  - curl -o config https://$GITHUB_ACCESS_TOKEN@raw.githubusercontent.com/jasondewitt/kube-config/master/.kube/config
  - mkdir ${HOME}/.kube
  - cp config ${HOME}/.kube/config
  - kubectl config set clusters.roxetnet.certificate-authority-data "$KUBE_CLUSTER_CERTIFICATE"
  - kubectl config set users.roxetnet-admin.client-certificate-data "$KUBE_CLIENT_CERTIFICATE"
  - kubectl config set users.roxetnet-admin.client-key-data "$KUBE_CLIENT_KEY"
  - kubectl get pods -n roxetnet-web